{% extends 'app/base.html' %}
{% block content %}
<script type='text/javascript'>
    $(document).ready(function(){
    $('#myForm').on('submit',function(event){
	event.preventDefault();
        //$('#img').show();
        $("#block").show()
        //$('input[type="submit"]').prop('disabled', true);
	$.ajax({
            type: "post",
            url: "/thankss/",
            data: $(this).serialize(),
            success: function(responseData) {
                //$("#img").hide();
                $("#block").hide();
                //$('input[type="submit"]').prop('disabled', false);
                if(responseData.result == "success") {
		        	window.location.href = "/contact";
			}
                else if(responseData == "fail"){
				alert("Please fill every field");
				
			}
            },
        })
})
});
</script>

        <form id="myForm" method="post" action="/thankss/" role="post">
          {% csrf_token %}
            <p id="left">How is the hospitality?</p>
	     <input class="ipt" type=text name="an1">
   	    <p id="left">Is your problem Addressed?</p>
	     <input class="ipt" type=text name="an2">
    	    <p id="left">Any Suggestions?</p>
   	     <input class="ipt" type=text name="an3""><br><br>
            <input id="blue" type="submit" name="submit" value="Submit" />
        </form>
<div id="block"></div>
{% load staticfiles %}
<img id="img" src="{% static 'app/images/loader.gif' %}" alt="loading"/>
{% endblock %}


